# add files you don't want in git here
/_build
/blib
-*
/MANIFEST
/MANIFEST.bak
/*META.*
/Build
/Makefile*
/pm_to_blib
/App-Sqitch-*
*.rpm
/_rpmbuild
/target
.build/
*.mo
.al
/latest_changes.md
/local/
