language: perl
perl:
  - "5.28"
  - "5.26"
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
services:
  - docker
before_install:
  - source dev/linux-prereqs
install:
  - cpan-install --deps
script:
  - prove -lr --directives --comments $(test-dirs)

jobs:
  include:
    - stage: Coverage
      env: COVERAGE=1
      before_install:
        - source dev/linux-vertica
        - source dev/linux-exasol
        - source dev/linux-firebird
        - source dev/linux-prereqs
        - cpan-install --deps
        - cpan-install --coverage
      before_script:
        - coverage-setup
      script:
        - prove -lr --directives --comments $(test-dirs)
        # - prove -lv t/sqlite.t t/pg.t t/mysql.t t/vertica.t t/exasol.t t/firebird.t t/oracle.t t/snowflake.t
      after_success:
        - coverage-report

    - stage: Windows
      os: windows
      language: shell
      before_install:
        - cinst -y strawberryperl
        - export "PATH=/c/Strawberry/perl/site/bin:/c/Strawberry/perl/bin:/c/Strawberry/c/bin:$PATH"
      install:
        # Can't use dzil to make a dist on windows, so depend on the previous
        # release for dependencies.
        - cpanm --no-interactive --no-man-pages --notest --installdeps App::Sqitch
      script:
        # No prove: https://rt.cpan.org/Public/Bug/Display.html?id=128221
        - ./dev/prove -lr t