# This workflow tests Sqitch's Exasol engine on recent supported versions of
# Oracle. It runs for pushes and pull requests on the `main`, `develop`,
# `**exasol**`, and `**engine**` branches.
name: ☀️ Exasol
on:
  push:
    branches: [main, develop, "**engine**", "**exasol**" ]
  pull_request:
    branches: [main, develop, "**engine**", "**exasol**" ]
jobs:
  Exasol:
    strategy:
      matrix:
        exasol: ['7.1', '7.0']
    name: ☀️ Exasol ${{ matrix.exasol }}
    runs-on: ubuntu-latest
    services:
      exasol:
        image: exasol/docker-db:latest-${{ matrix.exasol }}
        ports: [ 8563 ]
        options: --privileged
    steps:
      - uses: actions/checkout@v4
      - name: Setup Clients
        run: .github/ubuntu/exasol.sh
      - name: Setup Perl
        id: perl
        uses: shogo82148/actions-setup-perl@v1
        with: { perl-version: latest }
      - name: Cache CPAN Modules
        uses: actions/cache@v3
        with:
          path: local
          key: perl-${{ steps.perl.outputs.perl-hash }}
      - run: cpm install --verbose --show-build-log-on-failure --no-test --with-recommends --cpanfile dist/cpanfile
      - run: cpm install --verbose --show-build-log-on-failure --no-test --with-recommends DBD::ODBC
      - name: prove
        env:
          PERL5LIB: "${{ github.workspace }}/local/lib/perl5"
          LIVE_EXASOL_REQUIRED: true
          SQITCH_TEST_EXASOL_URI: db:exasol://sys:exasol@127.0.0.1:${{ job.services.exasol.ports[8563] }}/?Driver=Exasol;SSLCertificate=SSL_VERIFY_NONE
        run: prove -lvr t/exasol.t
